/* Banner.css */
.banner {
  position: relative;
  width: 100%;
  max-width: 800px; /* Adjust as needed */
  margin: 0 auto;
}
  
.banner-images img {
  width: 1955px;
  height: 600px;
  margin-left: -600px;
}
  
.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
}
  
.scroll-button.prev {
  left: -550px;
}
  
.scroll-button.next {
  right: -550px;
}
